
@model LWFinancial.Models.Household
@using LWFinancial.Helpers
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Invalid Attempt</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Invalid Attempt</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!--StartPage-->

    <section class="body-error error-inside">
        <div class="center-error">

            <div class="row">
                <div class="col-md-8">
                    <div class="main-error mb-xlg">
                        <h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
                        <p class="error-explanation text-center">
                            I'm sorry, but you cannot enter a house that you are currently not apart of. Please contact an admin if you feel this message is in error.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text">Admin</h4>
                    <ul class="nav nav-list primary">
                        <li>
                            <a href="#"><i class="fa fa-caret-right text-dark"></i> Landon Wyant</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--EndPage-->

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</section>